@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

html,
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-family: Montserrat;
	letter-spacing: -0.5px;
	font-weight: 400;
	color: var(--white);

	overflow-x: hidden;
	background-color: #1E4659;
}

* {
	margin: 0;
}

section {
	margin-top: 100px;
	margin-bottom: 100px;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	box-sizing: border-box;
}


.header {
	background: url(./assets/travel.webp) no-repeat;
	background-size: cover;
	height: 100vh;
}

.nav {
	z-index: 999;
	width: 100%;
	background-color: #1e46595d;
	position: fixed;
	left: 0;
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.nav-links {
	list-style: none;
	display: flex;
	align-items: center;
	vertical-align: top;
	position: relative;
	margin: 0 25px;
}

.nav-items {
	text-decoration: none;
	font-weight: 600;
	margin: 20px 0px 0px 20px;
	padding: 20px;
	color: #D73B2F;
	transition: all 1s;

}

.nav-items:hover {
	transition: all 1s;
	color: #B48071;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	vertical-align: top;
	position: relative;
	margin: 15px;

}

.logo-items {
	padding: 5px;
}



.header-wrapper {
	display: flex;
	justify-content: space-around;
	position: relative;
	top: 30%;
	left: 5%;

}

.header-title {}

.header-button {
	text-align: end;
	font-size: 25px;
	color: white;
}

.button {

	cursor: pointer;
	outline: none;
	position: relative;
	z-index: 3;
	background: transparent;
	color: white;
	font-size: 24px;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	border-radius: 32px;
	padding: 15px 100px;
	text-transform: uppercase;
	transition: all 0.2s linear;
	margin-top: 20px;
}

.button:hover {

	color: #D73B2F;

	border-color: #D73B2F;
	transition: all 0.2s linear;
}

.header-item {
	font-size: 100px;
	font-weight: 900;
	margin: 10px;
	color: #ffffff;
	text-transform: uppercase;
}

.header-item__right {
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	font-size: 110px;
	margin-bottom: 10px;
	font-weight: 900;
	left: 30%;
	color: #D73B2F;
}

.header-item__right::after {
	display: block;
	position: relative;
	content: "";
	border-bottom: 5px solid #D73B2F;
	bottom: 10%;
	left: 9%;
	width: 80%;
	text-align: center;
}

.header-social {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-left: 20px;

}

.line {
	display: block;
	position: relative;
	content: "";
	border-right: 3px solid white;
	height: 250px;
	bottom: 10%;
	right: 50px;
}

.size {
	padding: 30px;
	color: white;
	transition: all 0.2s linear;
	cursor: pointer;
}

.size:hover {
	color: #D73B2F;

	border-color: #D73B2F;
	transition: all 0.2s linear;
}

.color {
	color: #D73B2F;
}

.title {
	text-align: center;
	font-size: 35px;
	color: white;
	margin: 30px;
	padding: 30px;

}


.reasons-item {
	color: white;
	font-size: 20px;
	display: flex;
	align-items: center;


}

.reasons-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.reasons-item__img {
	border-radius: 30px;
	margin: 30px;
}

.reasons-info__item {
	width: 80%;
	margin: 10px;
	font-size: 17px;
}

.backgr {
	background: url(./assets/backgr.webp) no-repeat;
	background-size: cover;
	height: 100vh;

}

.himalayas {
	display: flex;
	flex-wrap: wrap;
}

.himalayas-item {
	color: white;
	font-size: 20px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	margin: 20px;
	justify-content: stretch;
	align-items: center;
}

.himalayas-item__img {
	border-radius: 30px;
	margin: 30px;
}

.himalayas-info {}


.himalayas-info__item {
	width: 80%;
	margin: 10px;
	font-size: 17px;
}

.himalayas-time {
	color: #D73B2F;
	font-size: 20px;
	font-weight: 900;
}

.join {
	cursor: pointer;
	position: relative;
	z-index: 3;
	color: white;
	font-size: 24px;
	border-radius: 10px;
	transition: all 0.2s linear;
	background-color: #D73B2F;
	border: 0;
	width: 50%;
	height: 40px;
	margin: 10px;
}

.join:hover {

	color: #D73B2F;
	border: 0;
	background-color: white;
	transition: all 0.2s linear;
}

.more {
	margin: 10px;
	cursor: pointer;
	outline: none;
	position: relative;
	z-index: 3;
	background: transparent;
	color: white;
	font-size: 24px;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	border-radius: 32px;
	width: 50%;
	text-transform: uppercase;
	transition: all 0.2s linear;
	height: 40px;
}

.more:hover {

	color: #D73B2F;

	border-color: #D73B2F;
	transition: all 0.2s linear;
}

.group-btn {
	display: flex;
	width: 100%;
	padding: 10px;
}

.review-item {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-end;
	background: url(./assets/man1.webp) no-repeat;
	background-size: cover;
	width: 350px;
	height: 350px;
	border-radius: 25px;
}

.review-item__second {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-end;
	background: url(./assets/rew2.webp) no-repeat;
	background-size: cover;
	width: 350px;
	height: 350px;
	border-radius: 25px;
	background-position: right 10%;
}

.review-item__third {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-end;
	background: url(./assets/rew3.webp) no-repeat;
	background-size: cover;
	width: 350px;
	height: 350px;
	border-radius: 25px;
	background-position: right 10%;
}

.review {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	margin: 10px;
	justify-content: stretch;
	align-items: center;
}


.review-name {
	font-size: 15px;
	font-weight: 700;
	color: #ffffff;
	padding: 10px;
	top: 0;
}

.review-info {
	padding: 10px;
	color: white;
	background-color: #1e465998;
	border-radius: 10px;
	margin: 10px;
}

.box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #D73B2F;
	border-radius: 30px;
	padding: 20px;
}

.box-info {
	width: 65%;
	font-size: 15px;
	color: white;
}


.box-btn {

	vertical-align: middle;
	cursor: pointer;
	position: relative;
	z-index: 3;
	color: #D73B2F;
	font-size: 24px;
	border-radius: 10px;
	transition: all 0.2s linear;
	background-color: #ffffff;
	border: 0;
	width: 20%;
	height: 40px;
	margin: 10px;
}

.box-btn:hover {

	color: white;
	background-color: #D73B2F;
	transition: all 0.2s linear;
	border: 2px solid #ffffff;

}

footer {
	background-color: #0f242e;
	padding: 30px;
	color: white;
	text-align: center;
}
