@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

html,
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	background-color: #dcdcdc;
	font-family: Montserrat;
	letter-spacing: -0.5px;
	font-weight: 400;
	color: var(--white);

	overflow-x: hidden;
	overflow-y: scroll;

}

.container {
	margin: 0 auto;
	max-width: 1200px;
	box-sizing: border-box;
}

.title {
	text-align: center;

}
.back {
	color: #e30b0b;
	position: fixed;
	 
}
 

.cheked {
	color: #e30b0b;
}

.icons {
	text-align: end;
}




.recipes-item__title {

	margin: 10px;
}


.recipes-title {
	margin: 5px;
	font-size: 15px;
	display: block;
	height: 50px;
	text-align: start;
}

.recipes-item {
	margin: 10px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));


}

.img-item__info {
	font-weight: 800;
	padding: 15px;
}

.recipes-img__item {
	border-radius: 20px;
	width: 550px;
	height: 400px;
	object-fit: cover;
}

.ingredients {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	margin: 20px;
	justify-items: end;
}

.directions {
	margin: 15px;
}

th,
td {
	padding: 10px;
}

td {
	color: #e30b0b;
	text-align: center;
}

li {
	list-style-type: none;
	font-size: 20px;
	font-weight: 600;
}

li::before {
	color: red;
	content: "▪";
	padding-right: 10px;
}

@media screen and (max-width: 768px) {
	.recipes-img__item {
		border-radius: 20px;
		width: 100%;
		object-fit: cover;
	}

	.ingredients {
		display: flex;
		flex-direction: column;
	}
	li {
		font-size: 15px;
	}


}